<h1>What is the longest word you can find?</h1>

<p>
<% @letters.each do |letter| %>
<div id="<%= letter %>" class="btn btn-info" data-letter="<%= letter %>"><%= letter %></div>
<% end %>
</p>

<div class="d-flex justify-content-center">
<form action="/score" method="POST" class="form-inline">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters %>
  <input type="text" name="word" class="form-control">
  <input type="submit" value="Play" class="form-control btn-success">
</form>
</div>
<p><strong>Score</strong>: <%= cookies[:score].nil? ? 0 : cookies[:score] %></p>
<br>
<a href="" class="btn btn-danger">refresh letters</a>
