<h1>Result</h1>
<p class="result">
<% if @word_in_grid && @word_is_real %>
  <%= "Nice. #{params[:word].upcase} got you some points." %>
<% elsif @word_in_grid == false %>
  <%= "Sorry, but #{params[:word].upcase} can't be built out of #{params[:letters]}" %>
<% else %>
  <%= "That's not a word." %>
<% end %>
</p>


<p class="result"><strong>Score</strong>: <%= cookies[:score] %></p>

<%= link_to "Play again", new_path, class: 'btn btn-success' %>
