<h1>Result</h1>
<p class="result">
<% if @word_in_grid && @word_is_real %>
  Nice! The word <strong><%= params[:word].upcase %></strong> got you some points.
  <br>
  <%= image_tag 'yay.gif' %>
<% elsif @word_in_grid == false %>
  Sorry, but <strong><%= params[:word].upcase %></strong> can't be built out of <strong><%= params[:letters] %></strong>
  <br>
  <%= image_tag 'moira.gif' %>
<% else %>
  Uhh...<br>
  <%= image_tag 'uhh.gif' %><br>
  Try again.
<% end %>
</p>


<p class="result"><strong>Score</strong>: <%= cookies[:score] %></p>

<%= link_to "Play again", new_path, class: 'btn btn-success' %>
